// vim:ft=css

configuration {
	terminal: "termite";
	font: "Bitstream Vera Sans Mono 25";
	display-drun: "Applications: ";
	display-run: "Run: ";
	display-ssh: "SSH: ";
	display-window: "Window: ";
	show-icons: true;
}

@import "arthur.rasi"
